.card {
    flex: 1 1 calc(33.33% - 20px); 
    max-width: 350px; 
    position: relative;
    box-shadow: 0 2px 5px #333;
    margin: 32px; 
    background: #1A2238;
    color: #fff; 
}

.badge {
    position: absolute;
    left: 0px;
    top: 0px; 
    text-transform: uppercase;
    font-size: 8px; 
    font-weight: 500;
    background: #6E6E6E;
    color: #BCFD4C;
    padding: 6px 10px;
    z-index: 1; 
}

.product-thumb {
    height: 200px; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.product-thumb img {
    max-width: 100%;
    max-height: 90%;
}

.product-details {
    padding: 20px; 
}

.product-category {
    display: block;
    font-size: 10px; 
    font-weight: 700;
    text-transform: uppercase;
    color: #9DAAF2;
    margin-bottom: 10px; 
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 10px; 
    text-transform: uppercase;
    color: #00ABE1;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px; 
}

.product-details h4 a:hover {
    color: #F52544;
}

.product-details p {
    font-size: 14px; 
    line-height: 20px; 
    margin-bottom: 10px; 
    color: #99DDFF;
}

.specs-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.specs-list li {
    font-size: 12px;
    color: #99DDFF;
    margin-bottom: 5px; 
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #99DDFF;
    padding-top: 10px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-price {
    font-size: 16px; 
    color: #F52544;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    display: flex;
    align-items: center;
}

.product-links a {
    display: inline-block;
    margin-left: 10px; 
    color: #5CE0D8;
    transition: 0.3s;
    font-size: 16px; 
}

.product-links a:hover {
    color: #F52544;
}


@media (max-width: 1200px) {
    .card {
        flex-basis: calc(50% - 20px); 
    }
}

@media (max-width: 768px) {
    .card {
        flex-basis: 100%; 
    }
}